body{
    background: black;
    font-family: 'Lato', sans-serif;
    color: white;
} 

.container{
    border: solid gold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 100%;
    border-radius: 50%;
    border: solid white;
    max-width: 15%;
    display: block;
    margin: 50px auto 10px;
}

.text{
    line-height: 10px;
    margin-top: 30px ;
    
}

.hello{
    display: flex; 
    justify-content: center;
    font-size: 30px;
    margin-top: 0;
}

.name{
    font-family: 'Mitr', sans-serif; 
    display: flex; 
    justify-content: center;
    font-size: 40px;
}

.work{
    display: flex; 
    justify-content: center;
    font-size: 30px;
}

li{
    display: inline-block;
    margin:  20px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20;
}

    
  



   


